<tr>
    <td>Enter Type :-</td>
    <td>
        <select name="type" id="type" plcaceholder = "Type">
            <option value="books">Book</option>
            <option value="journals">Journal</option>
        </select>                        
    </td>
</tr>
<tr>
    <td>
        Enter ID :-
    </td>
    <td>
        <input type="number" name="typeid" id="typeid" placeholder="Enter here (optional)">
    </td>
</tr>
<tr>
    <td>
        Enter Name :-
    </td>
    <td>
        <input type="text" name="name" id="name" placeholder="Enter here" required>
    </td>
</tr>
<tr>
    <td>
        <input type="submit" value="Submit">
    </td>
</tr>