
<html>
    <head>     
        <%- include('partials/style');%>
        <%- include('partials/head'); %>
    </head>
    <body>
        <hr>    
        <div class="container">      
            <input type="button" value="Insert" id="insert">
            
            <input type="button" value="Search" id="search">
        


        
            <input type="button" value="Search by Date" id="getbydate">
        


        
            <input type="button" value="Update Name" id="updatename">
        


        
            <input type="button" value="Generate Report" id="report">
        </div>
        <hr>
                
        <%- include('partials/scripts'); %>
    </body>
</html>