<html>
    <head>
        <%- include('partials/style');%>
        <%- include('partials/head'); %>
    </head>
    <body>
        <form action="http://localhost:8000/reportdb" method="post">
            <div class="container">
            
                <label for="idtext"><b>Enter Type :-</b></label>
                    
                        <select name="type" id="type" plcaceholder = "Type">
                            <option value="books">Book</option>
                            <option value="journals">Journal</option>
                        </select>                        
                    
                
                
                    
                        <input type="submit" value="Submit">
                    
                
            
            </div>
        </form>
    </body>
</html>