<html>
    <head>
        <%- include('partials/style');%>
        <%- include('partials/head'); %>
    </head>
    <body> 
        <form action="http://localhost:8000/searchdb" method="post">
            <div class="container">
                    Enter Type :-
                    
                        <select name="type" id="type" plcaceholder = "Type">
                            <option value="books">Book</option>
                            <option value="journals">Journal</option>
                        </select>                        
 
                        Enter ID :-
                    
                    
                        <input type="number" name="typeid" id="typeid" placeholder="Enter here (optional)">
                                      
                        Enter Name :-
                    
                    
                        <input type="text" name="name" id="name" placeholder="Enter here" required>
                    
                
                
                    
                        <input type="submit" value="Submit">
              
         
        </div>
        </form>
    </body>
</html>