<html>
    <head>
        <script src="../js/home.js"></script>
    </head>
    <body> 
        <form action="" method="post">
            <table>
                <tr>
                    <td>Enter Type :-</td>
                    <td>
                        <select name="Type" id="type" plcaceholder = "Type">
                            <option value="book">Book</option>
                            <option value="journal">Journal</option>
                        </select>                        
                    </td>
                </tr>
                <tr>
                    <td>
                        Enter ID :-
                    </td>
                    <td>
                        <input type="text" name="" id="typeid" placeholder="Enter here">
                    </td>
                </tr>
                <tr>
                    <td>
                        Enter Name :-
                    </td>
                    <td>
                        <input type="text" name="" id="name" placeholder="Enter here" required>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>